.main-container {
    margin-top: 80px;
    padding: 0 30px;
}

#drop_area_container {
    padding-left: 0;
}

#palette {
    padding: 0;
}

#palette .fa {
    font-size: x-large;
}

#palette .row {
    margin: 8px 0;
}

#palette .col-xs-6 {
    padding: 0 5px;
}

#palette .content {
    padding: 15px;
    border: 1px solid #cacaca;
    border-radius: 2px;
    text-align: center;
    background-color: #fafafa;
    cursor: move;
}

.drop_area .content {
    padding: 15px;
    border: 1px solid #cacaca;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    background-color: #fafafa;
    cursor: move;
}

.content p {
    margin: 8px 0 0;
    font-size: 11px;
}

#resizable {
  min-height: 75px;
  max-width: 80%;
}

.drop_area {
    width: 100%;
    height:100%;
    min-height: 75px;
    padding: 0 15px 0 0;
    border: 1px solid #333;
    overflow: scroll;
}

.box {
    margin: 40px;
    box-shadow: 5px 5px 10px #535353;
    border: 1px silver;
    border-radius: 4px;
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    /* limit size with min/max-width/height*/
    min-height: 100px;
    min-width: 200px;
    max-width: 999px;
    max-height: 800px;
}

.boxbody {
    font-size: 24pt;
    padding: 20px;
}

.win-size-grip {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 4px;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/wingrip.png) no-repeat;
}

